th{
	background-color: gray;
	color: white;
}

.order_list_table td{
	border: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.order_list_table td{
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0px 10px;
}

.deliveryBtn{
	all:unset; 
	cursor:pointer;
	color: rgba(0, 0, 0, 0.5);
}

.deliveryBtn:hover{
	color: rgba(0, 0, 0, 1);
}

th{
	background-color: gray;
	color: white;
}

.client_info_table td{
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0px 10px;
}

.client_info_table th{
	text-align: center;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#modalContent {
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  height: 550px;
  padding: 15px;
}

.btnColor{
	all:unset; 
	cursor:pointer;
}
.btnColor:hover{
	color: var(--bs-link-hover-color);
}


