@import "member/join.css";
@import "header/nav-bar.css";
@import "login/login.css";
@import "join/register.css";
@import "product/list.css";
@import "product/product-register.css";
@import "product/category-register.css";
@import "footer/footer.css";

:root{
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-georgia : Georgia, Serif;
}

a {
    text-decoration: none;
    color: black;
}

#msg{
    padding-top: 100px;
    text-align: center;
    color: red;
}

.text_center{
	text-align:center;
}

p {
	font-family: Verdana, sans-serif;
}