.navbar{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width:100%;
}

.navbar_location{
    padding-left: 400px;
    text-align: center;
    width:100%;
}

.navbar_bottom_line{
    border-bottom:solid 2px rgba(0, 0, 0, 0.2);
    width: 73%;
}

.navbar_main_menu{
    display: flex;
    justify-content: center;
}

.navbar_sub{
    width: 33%;
    display: flex;
    justify-content:center;
    font-size: 12px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.sub_center_menu{
	padding-top:50px;
}

.sub_left_menu{
    padding-top:110px;
    justify-content:right;
}

.sub_left_menu div{
    padding-right:10px;
}

.sub_right_menu{
    padding-top:110px;
    justify-content:left;
}

.sub_right_menu div{
    padding-left:10px;
}

.coco_sua_img{
    width: 250px;
    object-fit: contain;
}

.admin_img{
	width: 250px;
    object-fit: contain;
}

.nav_cate_menu{
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 15px;
    font-family: var(--font-family-georgia);
    padding-top: 20px;
}

.nav_cate_menu div{
    margin: 0 auto;
}

.nav_searce_bar{
    display: flex;
    justify-content: right;
    padding-right:10px;
}