.category_table{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
    border-collapse: collapse;
    width: 100%;
}

.category_table td{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
}

.category_table td span{
    font-size: 12px;
    
}

.category_location{
	padding-top: 100px;
}

.category_page{
	width: 100%;
    display: flex;
    justify-content: center;
}

.category_table{
	border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
    border-collapse: collapse;
    width: 100%;
}

.category_table td{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
}

.category_table td input{
    margin:10px;
    padding:3px;
}

.category_table td select{
    margin:10px;
    padding:3px;
}

.cateUpBtn{
	
}

.cateDownBtn{
	
}