.list_table{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
    border-collapse: collapse;
    width: 100%;
}

.list_table td{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
}

.list_table td span{
    font-size: 11px;
}

.product_list_location{
    padding-top: 100px;
}

.product_list_page{
    width: 50%;
    padding-left:470px;
}

.product_font_size{
	font-size: 11px;
}