.list_table{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
    border-collapse: collapse;
    width: 100%;
}

.list_table td{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
    text-align: center;
}

.list_table td span{
    font-size: 11px;
}

.product_list_location{
    padding-top: 100px;
}

.product_list_page{
    width: 75%;
    padding-left:470px;
}

.product_font_size{
	font-size: 11px;
}

.product_list_img_size{
	width: 80px;
	height: 120px;
}

.product_update_button{
	all: unset;
	font-size: 12px;
	padding-right: 3px;
}

.product_delete_button{
	all: unset;
	font-size: 12px;
	padding-left: 3px;	
}

.product_delete_button:hover{
	color: var(--bs-link-hover-color);
}