.product_location{
    padding-top: 100px;
}

.product_page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.product_table{
	border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
    border-collapse: collapse;
    width: 100%;
}

.product_table td{
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-right: white;
    border-left: white;
}

.product_table td input{
    margin:10px;
    padding:3px;
}

.product_table td select{
    margin:10px;
    padding:3px;
}