.product_info_page{
	
	display: flex;
	justify-content:center;
}

.product_info_location{
	display: flex;
	justify-content: center;
}

.product_info_box{
	width:30%;
}

.product_info_imgBox{
	text-align: right;
	padding-right: 50px;
}

.product_info_imgBox img{
	width: 100%;
}

.product_color_box{
	display: flex;
	justify-content: space-between;
}

.product_total_box{
	display: flex;
	justify-content: space-between;
}

.product_infomation_location{
	padding-left: 50px;
}

.product_title_box{
	font-size:28px;
	font-weight: bold;
}

.product_price_box{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.product_color_box{
	
}