.login_page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.member_login_text{
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.login_text_div{
    padding-top : 10px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.login_form{
    display:flex;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    padding-bottom: 10px;
}

.login_button{
    background-color: rgba(73, 44, 24, 1);
    border: none;
    height: 68px;
    width: 68px;
    margin-left: 10px;
    color: white;
    font-family: var(--font-family-georgia);
}

.login_input input{
    height: 22px;
    width: 210px;
    margin-bottom: 11px;
}